# Dataset directory
dataset/

# Virtual environment
venv/

# Build directory
build/

# Logs
logs/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# IDE files
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db